<div class="borde">
<table border="0" cellpadding="2" cellspacing="0" width="100%">
  <tr>
    <td colspan="7" class="bg-blue" align="center"><h1 class="text-center fg-white">RECIBO POR MANTENIMIENTO</h1></td>
  </tr>
  <tr>
    <td rowspan="3" width="25%" align="center" valign="top" class="text-center"><img src="../../[logoproyecto]" alt="logo" width="120" height="75" /></td>
    <td colspan="3" width="45%" align="center"><h1 class="text-center">[nombreproyecto]</h1></td>
    <td colspan="3" width="30%" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" rowspan="2" align="center" valign="middle" class="text-center v-align-middle"><br><br><br><strong>[direccionproyecto]</strong></td>
    <td colspan="3" width="30%" align="center" class="bg-lightblue text-center"><h2>CÓDIGO DE PAGO</h2></td>
    </tr>
  <tr>
    <td colspan="3" align="center" class="text-center"><h3 class="text-center">[idpropiedad]</h3></td>
    </tr>
  <tr>
    <td align="center" class="text-center bg-lightblue"><strong>TIPO DE CUOTA</strong></td>
    <td align="center" class="text-center bg-lightblue"><strong>MES</strong></td>
    <td align="center" class="text-center bg-lightblue"><strong>AÑO</strong></td>
    <td align="center" class="text-center bg-lightblue">&nbsp;</td>
    <td colspan="3" align="center" class="bg-lightblue text-center"><h2>Nro DE RECIBO </h2></td>
  </tr>
  <tr>
    <td align="center" class="text-center"><strong>ORDINARIA</strong></td>
    <td align="center" class="text-center"><strong>[mes]</strong></td>
    <td align="center" class="text-center"><strong>[anho]</strong></td>
    <td align="center" class="text-center"><h2>&nbsp;</h2></td>
    <td colspan="3" class="text-center"><h3 align="center" class="text-center">[correlativo]</h3></td>
    </tr>
  
  <tr>
    <td colspan="4" align="center" class="text-center bg-lightblue"><strong>DATOS DEL PROPIETARIO</strong></td>
    <td colspan="3" align="center" class="text-center bg-orange"><strong>FECHA DE EMISIÓN</strong></td>
    </tr>
  <tr>
    <td class="text-left"><strong>Propietario(a)</strong></td>
    <td class="text-left" colspan="3"><strong>[propietario/inquilino]</strong></td>
    <td colspan="3" align="center" class="text-center"><h3>[fechaemision]</h3></td>
    </tr>
  <tr>
    <td class="text-left"><strong>Departamento</strong></td>
    <td class="text-left" colspan="3"><h3>[departamentos]</h3></td>
    <td colspan="3" align="center" class="text-center bg-orange"><strong>FECHA DE VENCIMIENTO</strong></td>
    </tr>
  <tr>
    <td class="text-left"><strong>Estacionamiento</strong></td>
    <td class="text-left" colspan="3"><strong>[estacionamientos]</strong></td>
    <td colspan="3" align="center" class="text-center"><h3>[fechavencimiento]</h3></td>
    </tr>
  
  <tr>
    <td class="text-left"><strong>Depósito</strong></td>
    <td class="text-left" colspan="3"><strong>[depositos]</strong></td>
    <td colspan="3" class="bg-lightblue" align="center"><strong>Facturación de Agua</strong></td>
    </tr>
  <tr>
    <td colspan="2" align="center" class="text-center bg-lightblue"><strong>DESCRIPCIÓN</strong></td>
    <td colspan="2" align="right" class="borde-right text-right bg-lightblue"><strong>S/.</strong></td>
    <td colspan="3" align="center"><strong>PERÍODO DE CONSUMO</strong></td>
    </tr>
  <tr>
    <td colspan="4" rowspan="7" class="borde-right">
      <table cellpadding="2" cellspacing="0" width="100%">
        [detalleconcepto]
        </table>    </td>
    <td colspan="3" align="center"><strong>[fechaini_lectura] - [fechafin_lectura]</strong></td>
    </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    </tr>
  <tr>
    <td align="center"><strong>Lectura Anterior</strong></td>
    <td align="center"><strong>Lectura Actual</strong></td>
    <td align="center"><strong>Consumo M3</strong></td>
    </tr>
  <tr>
    <td align="center"><strong>[lecturaanterior]</strong></td>
    <td align="center"><strong>[lecturaactual]</strong></td>
    <td align="center"><strong>[consumo]</strong></td>
    </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">&nbsp;</td>
    </tr>
  <tr>
    <td colspan="3" align="center" class="bg-lightblue" valign="top"><strong>HISTORIAL DE LECTURAS</strong></td>
    </tr>
  <tr>
    <td colspan="3">
      <table cellpadding="0" cellspacing="2">
        [consumo_barra]
      </table>    </td>
  </tr>
  <tr>
    <td colspan="2" class="bg-blue"><strong class="fg-white">TOTAL A PAGAR</strong></td>
    <td colspan="2" align="right" class="bg-blue total_font" ><strong class="fg-white">[simbolomoneda] [importetotal]</strong></td>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
<br />
<table border="0" cellpadding="2" cellspacing="0" width="100%">
  <tr>
    <td colspan="3" align="center" class="bg-lightblue datoscuenta_font"><strong>INFORMACIÓN DE PAGO</strong></td>
  </tr>
  <tr>
    <td align="center" class="datoscuenta_font"><strong>Banco</strong></td>
    <td align="center" class="datoscuenta_font"><strong>Cta.Cte. y nombre</strong></td>
    <td align="center" class="datoscuenta_font"><strong>Titular de la cuenta</strong></td>
  </tr>
  <tr>
    <td align="center" class="datoscuenta_font"><strong>[nombrebanco]</strong></td>
    <td align="center" class="datoscuenta_font"><strong>[descripcioncuenta]</strong></td>
    <td align="center" class="datoscuenta_font"><strong>[razonsocialcuenta]</strong></td>
  </tr>
  <tr>
    <td colspan="3" align="center" class="bg-lightblue datoscuenta_font"><strong>AVISO IMPORTANTE</strong></td>
  </tr>
  <tr>
    <td colspan="3" class="datoscuenta_font"><strong>[aviso]</strong></td>
  </tr>
</table>
</div>