<table border="0" cellpadding="3" cellspacing="0" width="100%">
  <tr>
    <td rowspan="2" align="center" width="20%"><img src="../../[logoproyecto]" alt="logo" width="70" height="50" /></td>
    <td class="bg-deepblue" width="50%"><h2 class="text-center fg-white">[nombreproyecto]</h2></td>
    <td width="30%" rowspan="2" align="center">
        <table border="0" cellpadding="3" width="100%" cellspacing="0">
          <tr class="bg-deepblue">
            <td><strong class="fg-white text-center">[anho]</strong></td>
            <td><strong class="fg-white text-center">[mes]</strong></td>
          </tr>
          <tr class="bg-lightblue">
            <td><strong class="text-center">Proyecto</strong></td>
            <td><strong class="text-center">Numero</strong></td>
          </tr>
          <tr>
            <td colspan="2"><strong class="text-center">[correlativo]</strong></td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td class="bg-gray"><strong class="text-center">[direccionproyecto]</strong></td>
  </tr>
</table>
<br />
<table border="0" cellpadding="3" cellspacing="0" width="100%">
  <tr>
    <td colspan="3" class="text-center bg-blue"><strong class="fg-white">GENERALES DE FACTURACION</strong></td>
  </tr>
  <tr>
    <td width="15%" class="bg-gray"><strong>Propietario</strong></td>
    <td width="57%"><strong>[propietario/inquilino]</strong></td>
    <td width="28%" rowspan="4">
      <table border="0" cellpadding="3" cellspacing="0" width="100%">
        <tr>
          <td class="bg-black" colspan="3">
            <strong class="fg-white">Lectura de agua M3</strong>
          </td>
        </tr>
        <tr>
          <td class="bg-gray"><strong>Lec. Anterior</strong></td>
          <td class="bg-gray"><strong>Lec. Actual</strong></td>
          <td class="bg-gray"><strong>Consumo</strong></td>
        </tr>
        <tr>
          <td><strong>[lecturaanterior]</strong></td>
          <td><strong>[lecturaactual]</strong></td>
          <td><strong>[consumo]</strong></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="bg-gray"><strong>Departamento</strong></td>
    <td><strong>[departamentos]</strong></td>
  </tr>
  <tr>
    <td class="bg-gray"><strong>Estacionamiento</strong></td>
    <td><strong>[estacionamientos]</strong></td>
  </tr>
  <tr>
    <td class="bg-gray"><strong>Depósito</strong></td>
    <td><strong>[depositos]</strong></td>
  </tr>
</table>
<br />
<table border="0" cellpadding="3" cellspacing="0" width="100%" height="1280px">
  <tr>
    <td colspan="2" class="text-center bg-blue"><strong class="fg-white">DETALLE DE FACTURACION</strong></td>
  </tr>
  [detalleconcepto]
  <tr class="bg-black">
    <td><strong class="fg-white">TOTAL A PAGAR</strong></td>
    <td><strong class="fg-white">[simbolomoneda] [importetotal]</strong></td>
  </tr>
</table>
<br />
<table border="0" cellpadding="3" cellspacing="0" width="100%">
  <tr>
    <td colspan="4" align="center" class="bg-blue"><strong class="fg-white">INFORMACIÓN DE PAGO</strong></td>
  </tr>
  <tr>
    <td align="center" class="bg-gray"><strong>Fecha Emisión</strong></td>
    <td align="center"><strong>[fechaemision]</strong></td>
    <td align="center" class="bg-gray"><strong>Banco</strong></td>
    <td><strong>[nombrebanco]</strong></td>
  </tr>
  <tr>
    <td align="center" class="bg-gray"><strong>Fecha de vencimiento</strong></td>
    <td align="center"><strong>[fechavencimiento]</strong></td>
    <td align="center" class="bg-gray"><strong>Cta.Cte. y nombre</strong></td>
    <td><strong>[descripcioncuenta]</strong></td>
  </tr>
  <tr>
    <td align="center" class="bg-gray"><strong>Límite morosidad</strong></td>
    <td align="center"><strong>[fechatope]</strong></td>
    <td colspan="2"><strong>[razonsocialcuenta]</strong></td>
  </tr>
  <tr>
    <td colspan="4" class="bg-blue"><strong class="fg-white">CONFIRMAR EL PAGO POR UNA DE LAS SIGUIENTES OPCIONES, SINO APARECERÁ COMO MOROSO</strong></td>
  </tr>
  <tr>
    <td colspan="2" class="bg-gray"><strong>Presentar voucher de pago en</strong></td>
    <td colspan="2" align="center"><strong>[direccionpago]</strong></td>
  </tr>
  <tr>
    <td colspan="2" class="bg-gray"><strong>Informar el pago al correo</strong></td>
    <td colspan="2" align="center"><strong>[emailpago]</strong></td>
  </tr>
</table>